<script language="JavaScript">
  function hidediv(id) {
    //safe function to hide an element with a specified id
    if (document.getElementById) { // DOM3 = IE5, NS6
      document.getElementById(id).style.display = 'none';
    }
    else {
      if (document.layers) { // Netscape 4
        document.id.display = 'none';
      }
      else { // IE 4
        document.all.id.style.display = 'none';
      }
    }
  }

  function showdiv(id) {
    //safe function to show an element with a specified id

    if (document.getElementById) { // DOM3 = IE5, NS6
      document.getElementById(id).style.display = 'block';
    }
    else {
      if (document.layers) { // Netscape 4
        document.id.display = 'block';
      }
      else { // IE 4
        document.all.id.style.display = 'block';
      }
    }
  }

  function show_sorted_by_date() {
    showdiv("sorted_by_date");
    hidediv("sorted_by_location");
  }

  function show_sorted_by_location() {
    showdiv("sorted_by_location");
    hidediv("sorted_by_date");
  }

</script>

<div class="info">
  <% form_tag('', :action => :search, :method => 'GET') do %>
    <%= text_field_tag(:search, @search, :size => 40, :class => 'searchbox') %>
    <%= select_tag(:category, options_for_select(@category_array, params[:category])) %>
    <%= submit_tag("Search") %>
  <% end %>
  <br />
  <div class="sort"><strong>Sort:</strong>
    <%= link_to_function "Date", "show_sorted_by_date()" %> | 
    <%= link_to_function "Location", "show_sorted_by_location()" %>
  </div>

</div>
<br/>
<table id="sorted_by_date">
  <% @jobs.each do |job| %>
      <tr class="">
        <td class="date"><%=h job.created_at.strftime("%b %d") + " -"  %></td>
        <td class="jobtitle"><%= link_to job.title, job %></td>
        <td class="company"><%=h "(" + job.company  + ")" %></td>
        <td class="space"></td>
        <td class="city"><%=h job.city + ", " + job.state %></td>
        <% if session[:admin_id] %>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<table id="sorted_by_location" style="display:none;" >
  <% @jobs_sorted_by_location.each do |job| %>
      <tr class="">
        <td class="date"><%=h job.created_at.strftime("%b %d") + " -"  %></td>
        <td class="jobtitle"><%= link_to job.title, job %></td>
        <td class="company"><%=h "(" + job.company  + ")" %></td>
        <td class="space"></td>
        <td class="city"><%=h job.city + ", " + job.state %></td>
        <% if session[:admin_id] %>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br />

<% if session[:admin_id] %>
  <%= link_to 'New job', new_job_path %>
<% end %>
