<% form_tag(:action => :search) do %>
  <%= text_field_tag(:search, @search, :size => 40) %>
  <%= submit_tag("Search") %>
<% end %>
<br />

<h1>Listing jobs</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Category ID</th>
    <th>Title</th>
    <th>Company</th>
    <th>City</th>
    <th>State</th>
    <th>Website</th>
    <th>Description</th>
    <th>Contact info</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%=h job.id %></td>
    <td><%=h job.category_id %></td>
    <td><%=h job.title %></td>
    <td><%=h job.company %></td>
    <td><%=h job.city %></td>
    <td><%=h job.state %></td>
    <td><%=h job.website %></td>
    <td><%=h job.description %></td>
    <td><%=h job.contact_info %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %>
