<% form_tag('', :action => :search, :method => 'GET') do %>
  <%= text_field_tag(:search, @search, :size => 40) %>
  <%= select_tag(:category, options_for_select(@category_list, params[:category])) %>
  <%= submit_tag("Search") %>
<% end %>
<br />

<table>
<% @jobs.each do |job| %>
  <tr>
    <td id="date"><%=h job.created_at.strftime("%b %d") + " -"  %></td>
    <td id="title"><%= link_to job.title, job %></td>
    <td class="small"><%=h " from " %></td>
    <td id="company"><%=h job.company %></td>
    <td class="small" align="right"><%=h job.city + ", " + job.state %></td>
    <% if session[:admin_id] %>
      <td><%= link_to 'Show', job %></td>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:admin_id] %>
  <%= link_to 'New job', new_job_path %>
<% end %>
