<% form_for :job, 
  :url => { :action => :create },
  :html => { :id => "form2", :class => "wufoo topLabel page", :autocomplete => "off", :enctype => "multipart/form-data" } do |form| %>
  <%= error_messages_for :job %>
  <div id="header" class="info">
    <h2>Create your Job AD ($49 for 30 days, first 3 days are free)</h2>
    <div>Have questions, please visit our <%= link_to "FAQ [?]" , :controller => "about", :action => "faq" %></div>
  </div>

  <ul>

    <li id="foli43" 		class="     ">
    <label class="desc" id="title43" for="Field43">
      Email: <span id="req_1" class="req">*</span>
    </label>
    <span>
      <%= form.text_field :customer_email, :id => "Field43", :class => "field text fn", :tabindex => "1", :maxlength => "255" %>
    </span>
    <p class="instruct" id="instruct43"><small>Enter your email address where you want to get confirmation email and payment instructions.<br /></small></p>
    </li>

    <li id="foli1" 		class="      ">
    <label class="desc" id="title1" for="Field1">
      Select Job Category: <span id="req_1" class="req">*</span>
    </label>
    <div>
      <%= form.select(:category_id, options_for_select(@category_array, @job.category_id), :class => 'field select medium', :id => 'Field1', :tabindex => '1', :name => 'job[category_id]') %>
    </div>
    <p class="instruct" id="instruct1"><small>Select the correct job category</small></p>
    </li>

    <li id="foli3" 		class="     ">
    <label class="desc" id="title3" for="Field3">
      Company Name: <span id="req_1" class="req">*</span>
    </label>
    <div>
      <%= form.text_field :company, :id => "Field3", :class => "field text medium", :maxlength => "255", :tabindex => "2", :onkeyup => "" %>
    </div>
    </li>

    <li id="foli24" 		class="      ">
    <label class="desc" id="title24" for="Field24">
      Company Url:
    </label>
    <div>
      <%= form.text_field :website, :id => "Field24", :class => "field text medium", :maxlength => "255", :tabindex => "3" %>
    </div>
    </li>

    <li id="foli12" 		class="     ">
    <label class="desc" id="title12" for="Field12">
      City: <span id="req_1" class="req">*</span>
    </label>
    <div>
      <%= form.text_field :city, :id => "Field12", :class => "field text medium", :maxlength => "255", :tabindex => "4", :onkeyup => "" %>
    </div>
    </li>

    <li id="foli14" 		class="      ">
    <label class="desc" id="title14" for="Field14">
      State: <span id="req_1" class="req">*</span>
    </label>
    <div>
      <%= form.select(:state, options_for_select(@state_array, "CA"), :class => 'field select small', :id => 'Field14', :tabindex => '5') %>
    </div>
    </li>

    <li id="foli5" 		class="section      ">
    <h3 id="title5">Tell Us About this Exciting Position</h3>
    </li>

    <li id="foli9" 		class="     ">
    <label class="desc" id="title9" for="Field9">
      Job Title: <span id="req_1" class="req">*</span>
    </label>
    <div>
      <%= form.text_field :title, :id => "Field9", :class => "field text large", :maxlength => "255", :tabindex => "6", :onkeyup => "" %>
    </div>
    </li>

    <li id="foli8" 
    class="     ">
    <label class="desc" id="title8" for="Field8">
      Job Description:
    </label>
    <div>
      <%= textile_editor 'job', 'description', :cols => 50, :rows => 10, :id => 'Field8', :class => "field textarea medium", :tabindex => "7", :onkeyup => "" -%>
    </div>
    <p class="instruct" id="instruct8"><small>Enter your job description<br /><strong>Note:</strong> Please review your information before submitting </small></p>
    </li>

    <li id="foli16" 		class="     ">
    <label class="desc" id="title16" for="Field16">
      How to apply: <span id="req_1" class="req">*</span>
    </label>
    <div>
      <%= form.text_field :contact_info, :id => "Field16", :class => "field text medium", :maxlength => "255", :tabindex => "8" %>
    </div>
    <p class="instruct" id="instruct16"><small><br />This is where candidates apply for the job position. Please enter an email address or web link.</small></p>
    </li>

    <li class="buttons ">
    <div>
      <input type="hidden" name="currentPage" id="currentPage" value="dB5YAYUJLThQ1vViLqkRtO8PC6nWmLuPsz2BRQNT4gw=" />
      <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" 
      onmousedown="doSubmitEvents();" />
    </div>
    </li>

    <li style="display:none">
    <label for="comment">Do Not Fill This Out</label>
    <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
    <input type="hidden" id="idstamp" name="idstamp" value="" />
    <input type="hidden" id="stats" name="stats" value="" />
    <input type="hidden" id="clickOrEnter" name="clickOrEnter" value="" />
    </li>
  </ul>

  <%= textile_editor_initialize -%>

<% end %>
