<div class="info">

  <div class="display_jobtitle">
    <h1> <%=h @job.title %> (<%=h @job.city %>, <%=h @job.state %>)</h1> 
  </div>
  <strong>Date Posted:</strong> <%=h @job.created_at.strftime("%b %d, %Y") %> 
  <br />
  <strong>Send Resumes to:</strong>
  <br />
  <%= link_to(@job.website, @job.full_website_url) %>
</div>

<div id="job_description">
  <%= @job.description %>
  <br /><br />
  <div class="job_id">Job ID: <%=h @job.id %></div>
</div>

<% if session[:admin_id] %>
  <%= link_to 'Edit', edit_job_path(@job) %> |
  <%= link_to 'Back', jobs_path %>
<% end %>
