<p>
  <b>Category:</b>
  <%=h @job.category_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @job.title %>
</p>

<p>
  <b>Company:</b>
  <%=h @job.company %>
</p>

<p>
  <b>City:</b>
  <%=h @job.city %>
</p>

<p>
  <b>State:</b>
  <%=h @job.state %>
</p>

<p>
  <b>Website:</b>
  <%=h @job.website %>
</p>

<p>
  <b>Description:</b>
  <%=h @job.description %>
</p>

<p>
  <b>Contact info:</b>
  <%=h @job.contact_info %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>