<h1>FAQ</h1>
<div style="font-family:Lucida Sans Unicode">

  <ul>
    <li><a href="<%= url_for(:controller => "about", :action => "faq") %>#howmuch">How much does is cost to post a job Ad on Jobbslist?</a> </li>
    <li><a href="<%= url_for(:controller => "about", :action => "faq") %>#howlong">How long does a job post will be published for?</a> </li>
    <li><a href="<%= url_for(:controller => "about", :action => "faq") %>#howpost">How do I post a Job Ad?</a> </li>
    <li><a href="<%= url_for(:controller => "about", :action => "faq") %>#edit">How can I edit or delete a job post after it was published?</a> </li>
    <li><a href="<%= url_for(:controller => "about", :action => "faq") %>#repost">How do I repost my job ad after 30 days?</a> </li>
    <li><a href="<%= url_for(:controller => "about", :action => "faq") %>#multiple">Can I post multiple jobs on one job posting?</a> </li>
    <li><a href="<%= url_for(:controller => "about", :action => "faq") %>#credit">What credit cards do you accept?</a> </li>
  </ul>

  <br /><br />
  <strong><a name="howmuch"></a>How much does is cost to post a job Ad on jobbslist?</strong><br /><br />
  $49 for each job post (pricing subject to change).<br /><br />
  <strong><a name="howlong"></a>How long does a job post will be published for?</strong><br /><br />
  30 days from the day it was published.<br /><br />
  <strong><a name="howpost"></a>How do I post a Job Ad?</strong><br /><br />
  Posting a job ad is super simple. Follow these simple steps:<br /><br />
  <ol>
    <li>http://www.jobbslist.com/new</li>
    <li>Enter all information regarding job posting.</li>
    <li>Click the Preview Ad Button</li>
    <li>If you are satisfied with the job posting, then you are ready to publish your Ad</li>
    <li>Enter billing information, then click publish.</li>
    <li>You're all done! Your job posting will be automatically published for 30 days.</li>
  </ol>
<br />
<strong><a name="edit"></a>How can I edit or delete a job post after it was published?</strong><br /><br />

<a href="mailto:support@jobbslist.com">support@jobbslist.com</a><br />
<br />
Please provide all pertinent information, in order to respond with the correct action.<br />
<ul>
<li>Job ID #</li>
<li>Email</li>
<li>Name</li>
<li>Company Name</li>	
<li>Detailed explanation of editing/deleting job post.</li>
</ul>
<br />
<strong><a name="repost"></a>How do I repost my job ad after 30 days?</strong><br /><br />
The same process as creating a "new" job ad.<br /><br />
<a href="http://www.jobbslist.com/new">www.jobbslist.com/new</a><br /><br /><br />
<strong><a name="multiple"></a>Can I post multiple jobs on one job posting?</strong><br /><br />
No. Multiple jobs on a single job posting will be deleted and are non-refundable.<br /><br />
<strong><a name="credit"></a>What credit cards do you accept?</strong><br /><br />
Visa, MasterCard, and American Express - You will be charged immediately with the description Jobbslist.<br /><br />

<strong>All general questions should be forward here:</strong>  <a href="mailto:support@jobbslist.com">support@jobbslist.com</a>

</div>

