<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="Are you seraching for a job? Jobbslist is an easy to use job board with range of technlogy jobs such as Programming Jobs, Mobile Development Jobs, Web Design Jobs, Web Development Jobs and much much more!" />
  <meta name="keywords" content="Job Search, Job Opportunities, Job list, Jobs list, Job Listings, Jobs Available, Available Jobs, Security Jobs,  Programming Jobs, Networking Jobs, job seekers, jobs hiring, entry level jobs ,find a job, work from home jobs, job searches, available jobs, security jobs, hiring jobs, computer jobs, job search, hiring, search of job, job vacancies, jobs online, online jobs, job opportunities, job seekers, find job, new job, hot jobs, office jobs, job listings, jobs available, local jobs, snag a job" />
  

  <title>Technology Jobs: Design Jobs, IT Jobs, Mobile Development Jobs, Programming Jobs, Web Development Jobs</title>

  <%= stylesheet_link_tag 'form', 'style' %>

  <script type="text/javascript" src="/javascripts/jblist.js"></script>
  <script type="text/javascript" src="/javascripts/wufoo.js"></script>

  <%= javascript_include_tag 'prototype.js' %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22014335-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>

   <style type='text/css'>@import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');</style>
   <script src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
   <script type="text/javascript" charset="utf-8">
     BAROMETER.load('NEb77ObwgYA5aSt4Q5Fh6');
   </script>

</head>

<body>

  <div id="header_wrap">
    <div class="headerleft">
      <a href="/jobs"><img src="/images/logo.gif?1301723894" alt="Job List" width="512" height="120" border="0" /></a>
    </div>
    <div class="headerright">
      <div class="headerbutton" >
        <a href="/jobs/new"><img src="/images/postbutton.gif?1301723894" alt="Job Listings" width="225" height="56" border="0"/></a>
      </div>
    </div>
  </div>
  

  <div id="body_wrap">
    <% if flash[:notice] -%>
      <br/>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <% if flash[:error] -%>
      <br/>
      <div id="error"><%= flash[:error] %></div>
    <% end -%>
    <%= yield %>
  </div>

  <div id="footer">
    <p>
    <%= link_to "Home" , :controller => "jobs" %> |
    <%= link_to "About" , :controller => "about" %> | 
    <%= link_to "Contact" , :controller => "about", :action => "contact" %> | 
    <%= link_to "Post A Job" , :controller => "jobs", :action => "new" %> | 
    <%= link_to "Privacy Policy" , :controller => "about", :action => "privacy" %> | 
    <%= link_to "FAQ" , :controller => "about", :action => "faq" %>
    &nbsp; Jobbslist Copyright &copy 2011
    <br/>
    <% if session[:user_id].blank? %>
      <%= link_to "Login" , :controller => "admin", :action => "login" %> |
    <% else %>
      <%= link_to "Logout" , :controller => "admin", :action => "logout" %> |
    <% end %>
    <%= link_to "Categories" , :controller => "categories", :action => "index" %> |
    <%= link_to "Users" , :controller => "users", :action => "index" %>
    &nbsp; developer: Ian Crystal
    </p>
  </div>

</body>
  

</body>
</html>
